$my-yellow: #fff9ab;
$my-blue: rgb(0, 127, 185);
$my-red: rgb(255, 25, 57);
$black: black;
$white: white;

$site-font: 'Raleway', sans-serif;

$sidebar-width: 400px;
$animation-duration: 0.5s;

$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-200: rgb(200, 200, 200);
$gray-250: rgb(250, 250, 250);
